.about-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.about-app {
    grid-column: span 1;
    padding: 10px;
}
h3 {
    color: #1AACAC;
    font-weight: bold;
}
.description {
    font-size: large;
    font-weight: bold;
}
@media (max-width: 750px) {
    .about-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr );
    }
}
footer {
    position: relative;
}