footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    font-family: var(--font);
    color: var(--orange);
    bottom: 0;
    width: 100%;
    height: fit-content;
    position: fixed;
    padding: 10px;
    text-align: center;
    z-index: 1;
}
.column {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-link{
    text-decoration: none;
    color: var(--orange);
}
.footer-link:hover {
    color: #0F0F0F;
}
.dark-linkF {
    color: var(--orange);
    text-decoration: none;
}
.dark-linkF:hover {
    color: #fff;
}