@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&display=swap');

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}
.test {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    position: relative;
    height: fit-content;
    padding: 10px;
}
.answers {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    position: relative;
    top: 5px;
    left: 30%;
    width: 40%;
}
.btn-quiz {
    color: var(--orange);
    background-color: var(--white);
    grid-column: span 1;
}
.questions {
    position: relative;
    height: 20rem;
    padding: 10px;
    width: 100%;
}
.btn-next {
    position: relative;
    bottom: 0;
    align-self: center;
    width: fit-content;
    background-color: #38E54D;
    color: var(--white);
    margin: 15px;
    font-size: large;
    font-weight: bolder;
}
.btn-next:hover {
    color: #38E54D;
    background-color: var(--white);
}
.score {
    font-family: var(--scoreFont);
    font-size: 40px;
}
.title {
    color: #00A9FF;
    font-size: 50px;
    font-family: var(--font)
}
.valide {
    color: #38E54D;
}
.not-valide {
    color: red;
}
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}
@media (max-width: 450px) {
    
}